@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL  */
* {
  --orange: #ffa303;
  --blue: #a2abce;
  --coral: #ff4a38;
  --green: #818c57;
  --cream: #ffe0ae;
  --offwhite: #FAF9F6;
}

* {
  font-family: 'Roboto', sans-serif;
  font-family: 'Taviraj', serif;
  text-decoration: none;
  list-style-type: none;
}

.home {
  color: var(--orange);
  size: x-large;

}

/* Header Styling  */
#title {
  color: var(--orange);
  font-weight: bold;
  font-size: xx-large;
  padding: 8px;
  background-color: var(--offwhite);
  width: 100%;
}
.header-main {
  border: 3px solid pink;
}
#navbar {
  justify-content: center;
  display: inline;
}
#list-items {
  display: inline;
  justify-content: space-between;
  text-align: center;
}
#nav-items li{
  display: inline;
  text-align: center;
}
#nav-items {
  background-color: var(--orange);
  color: var(--offwhite);
  font-size: large;
  font-weight: medium;
}
.link {
  margin: 15px;
  padding: 40px;
}
/* Team Cards Styling  */
.team-cards-main{
  background-color: var(--blue);
  display: inline-block;
  border: 3px solid pink;
  width: 100%;
}
.team-cards {
  background-color: var(--blue);
  padding: 10px;
 

}
.meet-team {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  color: var(--offwhite)
}
#individual-member {
  padding: 10px;
}

/* Footer Styling  */
.Footer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--blue);
}

.Footer-main {
  margin-top: auto;
}