@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL  */
* {
    --orange: #ffa303;
    --blue: #a2abce;
    --coral: #ff4a38;
    --green: #818c57;
  }


* {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
  }
  
  .home {
    color: var(--orange);
    size: x-large;
  
  }
  
  /* Header Styling  */
  .main-title {
    color: var(--orange);
    font-weight: 500;
  }
  .header-main {
    border: 3px solid pink;
  }
  .navAnchor {
    border: 3px solid blue;
  }
  
  /* Footer Styling  */
  .Footer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--blue);
  }
  
  .Footer-main {
    margin-top: auto;
  }